footer {
    background-color:white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-radius: 40px 40px 0 0;
    height: 220px;
    
    padding-top: 1px;
    /* margin-top: 20px; */
}

footer h2 {
    font-weight: 600;
    font-size: 24px;
    color:#FFB800;
}
.social-media{
    width: 250px ;
    flex-grow: 1;
    text-align: center;
    margin-top: 60px;
}
.social-media img{
    height: 50px;
    width: 50px;
}
.about-project{
    flex-grow: 1;
    text-align: center;
    margin-top: 60px;
}
.information{
    flex-grow: 1;
    text-align: center;
    margin-top: 60px;
}